# Dplyr exercise

In [1]:
library("dplyr")

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
df <- read.csv("deliveries.csv")

In [3]:
head(df)

  match_id inning batting_team        bowling_team                over ball
1 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 1    1
2 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 1    2
3 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 1    3
4 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 1    4
5 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 1    5
6 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 1    6
  batsman   non_striker bowler   is_super_over ... bye_runs legbye_runs
1 DA Warner S Dhawan    TS Mills 0             ... 0        0
2 DA Warner S Dhawan    TS Mills 0             ... 0        0
3 DA Warner S Dhawan    TS Mills 0             ... 0        0
4 DA Warner S Dhawan    TS Mills 0             ... 0        0
5 DA Warner S Dhawan    TS Mills 0             ... 0        0
6 S Dhawan  DA Warner   TS Mills 0             ... 0        0
  noball_runs penalty_runs batsman_runs extra_runs total_runs player_dismissed
1 0           0            0            0          0
2 0           0            0            0          0
3 0           0            4            0          4
4 0           0            0            0          0
5 0           0            0            2          2
6 0           0            0            0          0
  dismissal_kind fielder
1
2
3
4
5
6

### Q. Total wickets by Y Chahal

In [4]:
distinct(df,bowler)

    bowler
1   TS Mills
2   A Choudhary
3   YS Chahal
4   S Aravind
5   SR Watson
6   TM Head
7   STR Binny
8   A Nehra
9   B Kumar
10  BCJ Cutting
11  Rashid Khan
12  DJ Hooda
13  MC Henriques
14  Bipul Sharma
15  AB Dinda
16  DL Chahar
17  BA Stokes
18  Imran Tahir
19  A Zampa
20  R Bhatia
21  TG Southee
22  HH Pandya
23  MJ McClenaghan
24  JJ Bumrah
25  KH Pandya
26  KA Pollard
27  TA Boult
28  PP Chawla
29  SP Narine
30  CR Woakes
... ...
327 MG Neser
328 AC Gilchrist
329 MA Starc
330 JDS Neesham
331 M Vijay
332 SA Yadav
333 Shivam Sharma
334 V Shankar
335 LMP Simmons
336 K Santokie
337 S Gopal
338 BE Hendricks
339 JW Hastings
340 Karanveer Singh
341 DJ Muthuswami
342 SA Abbott
343 J Suchith
344 RG More
345 D Wiese
346 GS Sandhu
347 Gurkeerat Singh
348 M Ashwin
349 C Munro
350 P Sahu
351 KJ Abbott
352 T Shamsi
353 SM Boland
354 Sachin Baby
355 N Rana
356 KS Williamson

In [5]:
chahal <- filter(df,bowler=="YS Chahal")

In [6]:
head(chahal)

  match_id inning batting_team        bowling_team                over ball
1 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 4    1
2 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 4    2
3 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 4    3
4 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 4    4
5 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 4    5
6 1        1      Sunrisers Hyderabad Royal Challengers Bangalore 4    6
  batsman      non_striker  bowler    is_super_over ... bye_runs legbye_runs
1 MC Henriques S Dhawan     YS Chahal 0             ... 0        0
2 MC Henriques S Dhawan     YS Chahal 0             ... 0        0
3 S Dhawan     MC Henriques YS Chahal 0             ... 0        0
4 S Dhawan     MC Henriques YS Chahal 0             ... 0        0
5 MC Henriques S Dhawan     YS Chahal 0             ... 0        0
6 S Dhawan     MC Henriques YS Chahal 0             ... 0        0
  noball_runs penalty_runs batsman_runs extra_runs total_runs player_dismissed
1 0           0            0            0          0
2 0           0            1            0          1
3 0           0            0            0          0
4 0           0            1            0          1
5 0           0            1            0          1
6 0           0            1            0          1
  dismissal_kind fielder
1
2
3
4
5
6

In [7]:
count(chahal,dismissal_kind)

  dismissal_kind    n
1                   1147
2 bowled               9
3 caught              49
4 caught and bowled    1
5 lbw                  3
6 run out              2
7 stumped              8

### Q. Total runs of V Kohli

In [8]:
df %>% filter(batsman=="V Kohli") %>% summarize(total_runs=sum(batsman_runs))

  total_runs
1 4423

### Q. Top 10 batsman (by total runs)

In [9]:
df %>% group_by(batsman) %>% summarize(total_runs=sum(batsman_runs)) %>% arrange(desc(total_runs)) %>% slice(1:10)

   batsman        total_runs
1  SK Raina       4548
2  V Kohli        4423
3  RG Sharma      4207
4  G Gambhir      4132
5  DA Warner      4014
6  RV Uthappa     3778
7  CH Gayle       3651
8  S Dhawan       3561
9  MS Dhoni       3560
10 AB de Villiers 3486

### Q. Highest and Lowest score in an inning

In [10]:
x <- df %>% group_by(match_id,inning) %>% summarize(total_runs=sum(total_runs))

In [11]:
max(x["total_runs"])

[1] 263

In [12]:
min(x["total_runs"])

[1] 2

### Q. V Kohli average runs

In [13]:
df %>% filter(batsman=="V Kohli") %>% group_by(match_id) %>% summarize(runs=sum(batsman_runs)) %>% summarize(avg_runs=mean(runs))

  avg_runs
1 31.36879

### Q. What is the probablity of winning a match when a team scores above 200 in first inning ?

In [16]:
match = df %>% group_by(match_id,inning) %>% summarize(runs=sum(total_runs))

In [18]:
inning1 = match %>% filter(inning == 1) %>% filter(runs >= 200)

In [19]:
inning2 = match %>% filter(inning == 2)

In [20]:
head(inning1)

  match_id inning runs
1  1       1      207
2  9       1      205
3 20       1      213
4 32       1      207
5 36       1      209
6 41       1      208

In [21]:
head(inning2)

  match_id inning runs
1 1        2      172
2 2        2      187
3 3        2      184
4 4        2      164
5 5        2      142
6 6        2      140

In [27]:
results = inner_join(inning1,inning2,by="match_id")

In [31]:
dim(results)

[1] 49  5

In [32]:
total_matches = 49

In [33]:
head(results)

  match_id inning.x runs.x inning.y runs.y
1  1       1        207    2        172
2  9       1        205    2        108
3 20       1        213    2        192
4 32       1        207    2        181
5 36       1        209    2        161
6 41       1        208    2        214

In [36]:
runs_diff = results$runs.x - results$runs.y

In [42]:
winning_matches = length(runs_diff[runs_diff > 0])

In [43]:
winning_matches / total_matches

[1] 0.8571429