# Input and Output

### 1) CSV file

CSV stands for comma separated values

<b>Reading CSV using read.csv()</b>

In [34]:
x <- read.csv("demo.csv")

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"incomplete final line found by readTableHeader on 'demo.csv'"

In [35]:
x

  ID Name  Marks
1 1  John  60
2 2  Jack  80
3 3  Jill  78
4 4  Jenny 67

<b>Reading CSV using read.table()</b>

read.csv() is a special version of read.table()

In [36]:
read.table(file="demo.csv",sep=",")

Warning message in read.table(file = "demo.csv", sep = ","):
"incomplete final line found by readTableHeader on 'demo.csv'"

  V1 V2    V3
1 ID Name  Marks
2 1  John  60
3 2  Jack  80
4 3  Jill  78
5 4  Jenny 67

<b>Writing to CSV file using write.csv()</b>

In [37]:
head(state.x77)

           Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766

In [38]:
df <- state.x77

In [ ]:
write.csv(df, file="state.csv")

### 2) Excel file

<b>Reading excel file</b>

use package <b>readxl</b>

In [6]:
library(readxl)

list the sheets of the excel file

In [4]:
excel_sheets('demo.xlsx')

[1] "Sheet1"



read excel file sheet using <b>read_excel()</b> function

In [5]:
read_excel('demo.xlsx', sheet="Sheet1")

  ID Name  Marks
1 1  Jack  80
2 2  John  90
3 3  Jill  67
4 4  Jenny 78

<b>Writing to excel files</b>

install package <b>xlsx</b>

In [48]:
install.packages('xlsx',repos="http://cran.rstudio.com/")

also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\User\AppData\Local\Temp\RtmpyKvA49\downloaded_packages

use package <b>xlsx</b>

In [49]:
library(xlsx)

write to excel file using <b>write.xlsx()</b>

In [51]:
head(women)

  height weight
1 58     115
2 59     117
3 60     120
4 61     123
5 62     126
6 63     129

In [52]:
df <- women

In [53]:
write.xlsx(women,"output.xlsx")