# R Built-in Features

<b>seq()</b> - creates a sequence

In [1]:
seq(1,10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [2]:
# by argument for stepsize 
seq(1,10,by=2)

[1] 1 3 5 7 9

In [3]:
seq(1,10,2)

[1] 1 3 5 7 9

<hr>
<b>sort()</b> to sort a vector

In [5]:
v1 <- c(10,2,11,4,6,5,12,7)

In [6]:
sort(v1)

[1]  2  4  5  6  7 10 11 12

In [7]:
sort(v1, decreasing=T)

[1] 12 11 10  7  6  5  4  2

<hr>

<b>rev()</b> to reverse elements of an object

In [8]:
rev(v1)

[1]  7 12  5  6  4 11  2 10

<hr>
<b>str()</b> describes structure of an object

In [9]:
str(v1)

 num [1:8] 10 2 11 4 6 5 12 7

In [10]:
mat <- matrix(1:15,nrow=3)

In [11]:
mat

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    4    7    10   13
[2,] 2    5    8    11   14
[3,] 3    6    9    12   15

In [12]:
str(mat)

 int [1:3, 1:5] 1 2 3 4 5 6 7 8 9 10 ...

<hr>

<b>append()</b> merges objects together

In [13]:
append(v1,90)

[1] 10  2 11  4  6  5 12  7 90

In [14]:
v2 <- c(1,2,3,4)

In [84]:
append(v1,v2)

 [1] 10  2 11  4  6  5 12  7  1  2  3  4

<b>sample()</b> gives a random value from a sequence

In [2]:
sample(1:20,1)

[1] 17

In [3]:
sample(1:20,2)

[1]  1 17

In [6]:
sample(v1,1)

[1] 10

<hr>

<b>is.*</b> checks class of an object

In [16]:
is.vector(v1)

[1] TRUE

In [23]:
is.list(v1)

[1] FALSE

<hr>
<b>as.*</b> converts object type

In [24]:
as.list(v1)

[[1]]
[1] 10

[[2]]
[1] 2

[[3]]
[1] 11

[[4]]
[1] 4

[[5]]
[1] 6

[[6]]
[1] 5

[[7]]
[1] 12

[[8]]
[1] 7

In [25]:
as.matrix(v1)

     [,1]
[1,] 10
[2,]  2
[3,] 11
[4,]  4
[5,]  6
[6,]  5
[7,] 12
[8,]  7

<hr>

### Math functions

<b>abs()</b>

In [29]:
abs(-10)

[1] 10

<b>round()</b>

In [30]:
round(10.23)

[1] 10

In [31]:
round(10.232343,2)

[1] 10.23

<b>sqrt()</b>

In [33]:
sqrt(144)

[1] 12

<b>exp()</b>

In [35]:
exp(1)

[1] 2.718282

<b>Logarithm</b>

In [43]:
log(10)

[1] 2.302585

In [44]:
log10(12)

[1] 1.079181

<b>Trigonometry</b>

In [47]:
sin(90)

[1] 0.8939967

In [48]:
cos(90)

[1] -0.4480736

In [49]:
tan(90)

[1] -1.9952

<hr>

### Regular expression

<b>grepl()</b> returns logical output

In [50]:
text <- "I am data scientist"

In [52]:
grepl("data",text)

[1] TRUE

In [53]:
grepl("outlier",text)

[1] FALSE

<b>grep()</b> returns index

In [61]:
v <- c(10,20,30)

In [62]:
v

[1] 10 20 30

In [64]:
grep(20,v)

[1] 2

In [66]:
grep(40,v)

# No output

integer(0)

<hr>

### Date Time

<b>Sys.Date()</b> get system's date

In [69]:
Sys.Date()

[1] "2019-09-06"

<b>as.Date()</b> convert string to date object

In [73]:
as.Date('1997-02-19')

[1] "1997-02-19"

<hr>

<b>Formatting</b>

<table>
<tr>
<th>Code</th><th>Value</th>
</tr>
<tr>
<td>%d</td><td>Day of the month</td>
</tr>
<tr>
<td>%m</td><td>Month</td>
</tr>
<tr>
<td>%b</td><td>Abbreviated month</td>
</tr>
<tr>
<td>%B</td><td>Full month</td>
</tr>
<tr>
<td>%y</td><td>2 digit year</td>
</tr>
<tr>
<td>%Y</td><td>4 digit year</td>
</tr>
</table>

In [74]:
as.Date('28-November-1992',format="%d-%B-%Y")

[1] "1992-11-28"

In [77]:
as.Date('12-Jan-86',format="%d-%b-%y")

[1] "1986-01-12"

<b>Sys.time()</b> to get time

In [81]:
Sys.time()

[1] "2019-09-06 16:49:38 IST"

<b>as.POSIXct</b> to convert string to date and time

In [82]:
as.POSIXct("08:30:03",format="%H:%M:%S")

[1] "2019-09-06 08:30:03 IST"

In [83]:
as.POSIXct("28-November-1992 09:25:04",format="%d-%B-%Y %H:%M:%S")

[1] "1992-11-28 09:25:04 IST"