# SQL with R

This SQL tutorial is focused on connecting <b>MySQL</b> with R.

To work with MySQL, install <b>RMySQL</b> and <b>dbConnect</b> packages.

In [ ]:
install.packages("RMySQL")

In [ ]:
install.packages("dbConnect")

In [12]:
library(RMySQL)
library(dbConnect)

Warning message:
"package 'dbConnect' was built under R version 3.6.1"Loading required package: gWidgets
Warning message:
"package 'gWidgets' was built under R version 3.6.1"

connect to mysql database using <b>dbConnect()</b> and pass user, password, database and host

In [35]:
con <- dbConnect(MySQL(),user="root",password="",db="mydb",host="localhost")

list all tables in database using <b>dbListTables</b>

In [36]:
dbListTables(con)

[1] "student"

run query using <b>dbGetQuery</b>

In [37]:
sql <- "SELECT * FROM student"

In [38]:
dbGetQuery(con,sql)

  id name  marks
1 1  Jack  80
2 2  Jill  98
3 3  Jenny 78
4 4  John  80

close connection with <b>dbDisconnect</b>

In [39]:
dbDisconnect(con)

[1] TRUE

To learn more go through the following documentation <a href="https://cran.r-project.org/web/packages/RMySQL/index.html">RMySQL</a>

For Oracle, go through the following documentation <a href="https://cran.r-project.org/web/packages/ROracle/index.html">ROracle</a>