# Variable

<html><body>
<p>1) Variables are references that can be used to refer to a particular data</p>
    <p>2) <b>&#60;-</b> or <b>=</b> characters are used to assign a variable</p>
</body></html>

In [32]:
name <- "John"
age <- 50

In [33]:
name

[1] "John"

In [35]:
age

[1] 50

In [38]:
name = "Jack"
age = 40

In [39]:
name

[1] "Jack"

In [40]:
age

[1] 40

<p> If a varible name consist of more than two words, by convention we should put a  "."  between them.</p>

In [7]:
employee.name <- "John"
employee.age <- 50

In [9]:
employee.name

[1] "John"

In [10]:
employee.age

[1] 50

# Data Types

### Numeric

<p> Numeric data type includes both whole number (integer) and decimal.</p>

In [11]:
num1 <- 100

In [12]:
num2 <- 40.56

### Character

<p> Character data type is used to represent single or group of characters that can be <b>a-z, A-Z, 0-9 or any special characters.</b></p>

<p> Character data type can be created using 'single' or "double" quotation marks.</p>

In [13]:
char1 <- "Hello world"

In [14]:
char2 <- 'I am awesome'

### Logical

<p> Logical data type consist of only two values <b>TRUE</b> and <b>FALSE</b>.

In [17]:
bool1 <- TRUE

In [18]:
bool2 <- FALSE

In [20]:
# single character T and F can be used aswell
bool3 <- T

In [ ]:
bool4 <- F

In [22]:
bool3

[1] TRUE

In [23]:
bool4

[1] FALSE

### class() Function

<p> Let's check the data type of the above variables using <b>class</b> function</p>

In [24]:
class(num1)

[1] "numeric"

In [25]:
class(num2)

[1] "numeric"

In [26]:
class(char1)

[1] "character"

In [27]:
class(char2)

[1] "character"

In [28]:
class(bool1)

[1] "logical"

In [29]:
class(bool2)

[1] "logical"

In [30]:
class(bool3)

[1] "logical"

In [31]:
class(bool4)

[1] "logical"