# Vectors

<p>1) Vectors are one of the most important data structures in R.</p>
<p>2) Vectors are one dimensional array that can store homogeneous (same data type) data.</p>
<p> 3) Vectors are created using combine function <b>c()</b></p>

<b> Creating vector </b>

In [1]:
v1 <- c(1,2,3,4)

In [2]:
v1

[1] 1 2 3 4

In [3]:
v2 <- c('A','B','C')

In [4]:
v2

[1] "A" "B" "C"

<b>Checking class of the above vectors</b>

In [5]:
class(v1)

[1] "numeric"

In [6]:
class(v2)

[1] "character"

<p>Since vector can store only homogeneous data, R will convert the other elements in the array to force everything to be of the same data type.</p>

In [7]:
v3 <- c(1,2,TRUE,FALSE)

In [8]:
v3

[1] 1 2 1 0

In [9]:
class(v3)

[1] "numeric"

In [10]:
v4 <- c(4,5,'Hello','World')

In [11]:
v4

[1] "4"     "5"     "Hello" "World"

In [12]:
class(v4)

[1] "character"

In [13]:
v5 <- c(TRUE,FALSE,'Hello','World')

In [14]:
v5

[1] "TRUE"  "FALSE" "Hello" "World"

In [15]:
class(v5)

[1] "character"

<p><b>Vector Names</b></p>

<p>Name function <b>name()</b> is used to assign names to each elements of a vector</p>

In [16]:
marks <- c(75,81,69,86)

In [17]:
names(marks) <- c('Math','Science','English','GK')

In [18]:
marks

   Math Science English      GK
     75      81      69      86

<p>Creating a sequence vector using </p>

In [19]:
1:10

 [1]  1  2  3  4  5  6  7  8  9 10

In [27]:
v <- 5:10

In [28]:
v

[1]  5  6  7  8  9 10