# Vector operations

### 1) Arithmetic operations

In [1]:
v1 <- c(1,2,3)
v2 <- c(4,5,6)

In [2]:
v1

[1] 1 2 3

In [3]:
v2

[1] 4 5 6

<b> Addition </b>

In [4]:
v1+v2

[1] 5 7 9

<b>Subtraction</b>

In [5]:
v1-v2

[1] -3 -3 -3

<b>Multiplication</b>

In [6]:
v1 * v2

[1]  4 10 18

<b>Division</b>

In [7]:
v1/v2

[1] 0.25 0.40 0.50

<b>Vector and Scalar operation</b>

In [8]:
v1 + 3

[1] 4 5 6

In [9]:
v2 * 4

[1] 16 20 24

### 2) Comparison operations

In [10]:
v1 < v2

[1] TRUE TRUE TRUE

In [11]:
v1 == v2

[1] FALSE FALSE FALSE

In [12]:
# Vector and scalar
v1 > 2

[1] FALSE FALSE  TRUE

### 3) Logical operations

<b> Logical AND & OR </B>

In [13]:
v1 && v2

[1] TRUE

In [14]:
v1 || v2

[1] TRUE

<b> Element wise AND & OR </b>

In [15]:
v1 & v2

[1] TRUE TRUE TRUE

In [16]:
v1 | v2

[1] TRUE TRUE TRUE

### 4) Vector functions

<p> Let's see some of the inbuilt functions that can be used with vectors </p>

<b> sum </b>

In [17]:
v <- c(10,20,25,34,56,78)

In [18]:
sum(v)

[1] 223

<b>Mean</b>

In [19]:
mean(v)

[1] 37.16667

<b> Product </b>

In [20]:
prod(v)

[1] 742560000

<b> Variance </b>

In [21]:
var(v)

[1] 642.5667

<b>Standard deviation</b>

In [22]:
sd(v)

[1] 25.3489

<b>Max</b>

In [23]:
max(v)

[1] 78

<b>Min</b>

In [24]:
min(v)

[1] 10

<b>Length</b>

In [25]:
length(v)

[1] 6

### 5) Indexing and Slicing

<b> Indexing </b>

In [26]:
v <- c(10,20,25,34,56,78)

In [27]:
# Index value starts with 1
v[1]

[1] 10

In [28]:
v[4]

[1] 34

In [29]:
# For index more than length of vector
v[7]

[1] NA

<b>Multiple Indexing</b>

In [30]:
v[c(1,4)]

[1] 10 34

In [31]:
v[c(1,9)]

[1] 10 NA

<b>Slicing</b>

In [32]:
v[2:4]

[1] 20 25 34

In [33]:
v[3:6]

[1] 25 34 56 78

<b> Indexing with names </b>

In [34]:
names(v) <- c('a','b','c','d','e','f')

In [35]:
v['a']

 a
10

In [36]:
v['e']

 e
56

In [37]:
v[c('a','e')]

 a  e
10 56

In [38]:
v['z']

<NA>
  NA

<b> Conditional selection </b>

In [39]:
v[v>20]

 c  d  e  f
25 34 56 78

In [40]:
v[v %% 2 == 0]

 a  b  d  e  f
10 20 34 56 78

In [41]:
v[v %% 4 == 0]

 b  e
20 56

### 6) Categorical vector and factor()

In [42]:
animal <- c('dog','cat','dog','cat','cat')

In [43]:
# Categorical nominal variable
factor(animal)

[1] dog cat dog cat cat
Levels: cat dog

In [44]:
grades <- c('A','A','B','A','C','B')

In [45]:
# Categorical ordinal variable
factor(grades, ordered=TRUE, levels=c('A','B','C'))

[1] A A B A C B
Levels: A < B < C